.host {
  background-color: var(--color-fill-background_light_gray);
  border-radius: 12px;
  padding: 24px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.rateWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.tierData {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
