.host {
  background-color: var(--color-fill-white);
  border-radius: 16px;
  border: 1px solid var(--color-border-black_a10);
}

.line_73 {
  width: 327px;
  border: 1px solid var(--color-border-black_a13);
}

.currency {
  width: 30px;
  height: 154px;
}

.barsBackground {
  width: 288px;
  height: 144px;
}

.highPeak {
  width: 11px;
}

.chart_144Animated {
  width: 288px;
  height: 144px;
}

.centerHours {
  width: 240px;
  height: 23px;
}

.line_89 {
  border: 1px solid var(--color-border-black);
}

.line_84 {
  border: 1px solid var(--color-border-black);
}

.line_85 {
  border: 1px solid var(--color-border-black);
}

.line_86 {
  border: 1px solid var(--color-border-black);
}

.line_87 {
  border: 1px solid var(--color-border-black);
}

.line_88 {
  border: 1px solid var(--color-border-black);
}

.time {
  width: 263px;
  height: 20px;
}

.line_75 {
  width: 100%;
  height: 0;
  border: 1px solid var(--color-border-black_a13);
}

.line_74 {
  width: 100%;
  height: 0;
  border: 1px solid var(--color-border-black_a13);
}


