.host {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.yAxis {
  width: 40px;
  text-align: right;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  span {
    //font-variant-numeric: lining-nums tabular-nums;
    //font-feature-settings: "case" on, "salt" on;
  }
}

.chartWrapper {
  display: flex;
  min-height: 174px;
  aspect-ratio: 327 / 174;
}
.chartContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
}
.bars {
  flex: 1;
  display: flex;
  column-gap: 1px;
  --bar-progress: 50%;

  --bar-color-low: #6FCF97;
  --bar-color-medium: #7857FF;
  --bar-color-high: #FA4D56;

  --bar-color: var(--bar-color-high);

  &.animated .bar:before {
    transform: scaleY(var(--bar-progress));
  }
}
.bar {
  flex: 1;
  background-color: var(--color-fill-concrete);
  display: flex;
  &:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    transform: scaleY(0);
    transform-origin: left bottom;
    background-color: var(--bar-color);
    transition: transform 0.25s ease-in;
  }
}
.xAxis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 28px;

  span {
    display: inline-block;
    padding: 8px 0 0 5px;
    border-left: 1px solid #000000;
    flex: 1;
    line-height: 24px;
    sup {
      line-height: 8px;
      font-size: 8px;
      position: relative;
      top: 2px
    }
  }
}
