.host {
  background-color: var(--color-fill-background_light_gray);
  border-radius: 12px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.label {
  line-height: 16px;
}

.value {
  min-width: 238px;
  line-height: 24px;
}

.control {
  flex: 0 0 auto;
  height: 36px;
  width: 36px;
  margin-bottom: -8px;
}
