.host {
  padding: 16px;
  border-radius: 16px;
  width: 100%;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.03);
}

.color-yellow {
  background-color: var(--color-fill-light_yellow);
}

.color-blue {
  background-color: var(--color-fill-link-water);
}
